<!doctype html>
<head>
  <title>Portal</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/jquery.qtip.min.css">
</head>

<header>
  <a href='/'><img src="static/images/logo.png" id='logo'></a>
  <div id='login'>
    {%  if not session.google_token %}
      <span>Hey there, why don't you </span><a href="{{ url_for('login')}}">Log in</a>
    {% else %}
      <span>Hi there <span id='name'>{{name}}</span>!</span><a id='logout' href="{{ url_for('logout')}}">Log out</a>
    {% endif %}
  </div>
</header>

<body>

  <div id='pinned'>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="static/js/jquery.qtip.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
