<!doctype html>
<head>
  <title>Portal</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/jquery.qtip.min.css">
</head>

<header>
  <a href='/'><img src="static/images/logo.png" id='logo'></a>
  <div id='login'>
    {%  if not session.google_token %}
      <span>Hey there, why don't you </span><a href="{{ url_for('login')}}">Log in</a>
    {% else %}
      <span>Hi there <span id='name'>{{name}}</span>!</span><a id='logout' href="{{ url_for('logout')}}">Log out</a>
    {% endif %}
  </div>
</header>

<body>

  <div class='box' id='todoist'>
    <h3>Todoist</h3>
    <iframe src="http://todoist.com" frameborder="0"></iframe>
  </div>
  <div class='box'>
    <h3>Calendar</h3>
    <iframe id='calendar' src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=lt9sqrmqakg6hhbotk87t39tfg%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FVancouver" style="border-width:0" width="600" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="static/js/jquery.qtip.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="static/js/main.js" type="text/javascript" charset="utf-8"></script>
</body>
